body {
  max-width: 100%;
  min-width: $width;
  margin: 0 auto;
  text-align: center;
  font-family: $font1;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

h1,h2,h3,h4,h5 {
  padding: 0;
  margin: 0;
}

.row {
  max-width: $width;
  margin: 0 auto;
  width: 95%;
}

/*floats*/

.fl {
  float: left;
}

.fr {
  float: right;
}

// flex columms
.columns-between-top {
  @include flex(row, wrap, space-between, flex-start);
}

.columns-between-center {
  @include flex(row, wrap, space-between, center);
}

.columns-between-bottom {
  @include flex(row, wrap, space-between, flex-end);
}

.columns-between-stretch {
  @include flex(row, wrap, space-between, stretch);
}

.columns-around-top {
  @include flex(row, wrap, space-around, flex-start);
}

.columns-around-center {
  @include flex(row, wrap, space-around, center);
}

.columns-around-bottom {
  @include flex(row, wrap, space-around, flex-end);
}

.columns-around-stretch {
  @include flex(row, wrap, space-between, stretch);
}

/*grids*/
.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66% - 0.5%;
}

.col-12 {
  width: 100%;
}