/*button*/

.btn {
  @include font($btn-font,600,18px,normal,normal,normal,#FFFFFF);
  text-align: center;
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 100%;
  max-width: 177px;
  padding: 8px 10px;
  margin: 0 auto;
  text-transform: uppercase;
  border: 1px solid transparent;
  background: $secondary-color;
  box-sizing: border-box;
  span.text{
    position: relative;
    z-index: 2
  }
  span.background {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: #2a3239;
    transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  &:hover {
    color: #d1d4d7;
    span.background {
      width: 225%;
      height: 562.5px;
    }
  }
  &:active {
    background-color: #46535f;
  }
}
