h1 {
  @include font($h1-font,400,83px,normal,-0.03em,100%,$black);
}
h2{
  @include font($h2-font, 400, 83px, normal, -0.03em, 100%, $primary-color);
}
h3 {
  @include font($h2-font, 400, 55px, normal, -0.03em, 100%, $primary-color);
  
}
h4{
  @include font($font1, 700, 30px, normal, 0.2em, 100%, $black);
}
h5{
  @include font($font1, 400, 18px, normal, normal, 120%, $black);
}