/*banner*/

#banner {
  min-height: 200px;
  position: relative;
  box-sizing: border-box;
  border-top: 7px solid $primary-color;
  border-bottom: 7px solid $primary-color;
  .slider{
    width: 100%;
    height: 100%;
    img{
      width: 100%;
      object-fit: cover;
      margin: 0 0 -5px
    }
  }
  .row{
    width: 95%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
  .banner-logo{
    position: absolute;
    left: 50%;
    top: 51%;
    transform: translate(-50%, -49%);
    max-width: 1320px;
    width: 100%;
  }
}
.banner-bottom{
  max-width: 1440px;
  width: 95%;
  margin: 0 auto;
  padding: 30px 50px;
  box-sizing: border-box;
  background: $primary-color;
  border: 4px solid $secondary-color;
  box-shadow: 25px 25px 40px -15px #000000;
  position: absolute;
  bottom: -90px;
  left: 0; 
  right: 0;
  &__left{
    text-align: left;
    h3{color: #FFFFFF;}
    p{
      font-family: $p-font;
      font-weight: 400;
      font-size: 22px;
      color: #FFFFFF;
      line-height: 145%;
      max-width: 907px;
      margin: 1em 0 0;
    }
  }
  &__right{
    max-width: 181px;
    .btn{
      max-width: 100%;
      width: 100%;
      font-family: 'Palanquin Dark';
      font-weight: 400;
      font-size: 30px;
      color: #FFFFFF;
      border: 2px solid #FFFFFF;
      padding: 2px 0;
      text-transform: none;
    }
  }
}