/*footer*/

#footer {
  background: $primary-color;
  padding: 40px 0;
  .silver img {
    display: inline-block;
    vertical-align: middle;
    max-width: 50px;
  }
  .copy, .silver{
    font-family: $font1;
    font-weight: 600;
    font-size: 15px;
    color: #FFFFFF;
    text-transform: uppercase;
  }
}
.footer-social-media {
  max-width: 297px;
  margin: 0 auto;
  a {
    font-family: 'Socialico';
    font-size: 46px;
    color: #FFFFFF;
  }
}

.footer-nav {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  max-width: 683px;
  li {
    a {
      display: inline-block;
      padding: 30px 0 0;
      font-family: 'Montserrat';
      font-weight: 600;
      font-size: 18px;
      color: #FFFFFF;
    }
  }
}
