/*header*/

#header {
  padding: 20px 0 35px;
  .row{
    max-width: 1440px;
    position: relative;
  }
  nav {
    a#pull {
      display: none;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      @include flex(row,wrap,space-around,center);
      li {
        width: ( 100% / 4 );
        padding: 22px 0;
        a {
          border-right: 1px solid rgba(255,255,255,0.23);
          width: 100%;
          display: inline-block;
          box-sizing: border-box;
          font-family: $font1;
          font-weight: 600;
          font-size: 15px;
          color: #FFFFFF;
          line-height: 120%;
          transition: all 0.5s ease;
        }
        &:last-of-type{
          a{
            border-right: 0;
          }
        }
        &.active-menu a, a:hover {
          text-shadow: 0 0 10px #333333;
        }
      }
    }
  }
}
.social-media{
  max-width: 190px;
  margin: 0 auto;
  a{
    font-family: 'Socialico';
    font-weight: 400;
    font-size: 34px;
    color: $secondary-color;
  }
}
.header-bottom{
  position: absolute;
  top: 140%;
  left: 0;
  right: 0;
  box-sizing: border-box;
  background: $primary-color;
  border: 4px solid $secondary-color;
  box-shadow: 25px 25px 40px -15px #000000;
  z-index: 1;
  &__left{
    box-sizing: border-box;
    max-width: 1000px;
  }
  &__right{
    box-sizing: border-box;
    max-width: 380px;
    .phone{
      text-align: center;
      padding: 0 0 0 52px;
      position: relative;
      font-family: 'Montserrat';
      font-weight: 600;
      font-size: 35px;
      color: #FFFFFF;
      &::before{
        content: "";
        background: url('../images/common/sprites.png') no-repeat -2px -285px;
        width: 33px;
        height: 33px;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}