// row and body
$width: 1200px;

// COLOR
$mobile-background: rgba(12, 70, 150,0.8);
$primary-color: #0C4698;
$secondary-color: #6497B1;
$third-color: #04396C;
$forth-color: #04396C;
$black: #111111;
$white: #FFFFFF;

// font
$font1: "Montserrat";
$h1-font: "Palanquin Dark";
$h2-font: "Palanquin Dark";
$p-font: "Montserrat";
$btn-font: "Montserrat";
