#welcome{
    padding: 185px 0 60px;
    background: url(../images/common/welcome-bg.jpg)no-repeat center top;
}
.wlc-box{
    box-sizing: border-box;
    max-width: 1102px;
    padding: 75px 10px 60px;
    background: $primary-color;
    border: 3px solid $secondary-color;
    box-shadow: 25px 25px 40px -18px #000000;
    h1{
        color: #FFFFFF;
        padding: 0 0 30px;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
            background: #FFFFFF;
            width: 45px;
            height: 3px;
        }
    }
    p{
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 18px;
        color: #FFFFFF;
        line-height: 178%;
        margin: 1em auto;
        max-width: 916px;
    }
}