#contact-bottom {
    margin: -100px 0 0;
    background: #FFFFFF;
    padding: 50px 0;
    border-top: 7px solid $primary-color;
    border-bottom: 7px solid $primary-color;
    .row {
        max-width: 1540px;
        width: 95%;
    }
}

.cb-container {
    max-width: 671px;
    margin: 0 0 0 auto;
    h4 {
        font-weight: 800;
        font-size: 44px;
        letter-spacing: normal;
        color: $primary-color;
    }
    p {
        margin: 10px 0 0;
        font-size: 25px;
        color: $secondary-color;
    }
}