#quote1{
    background: $primary-color;
    padding: 75px 0 100px;
    position: relative;
    .row{
        max-width: 1440px;
        width: 95%;
    }
}
.quote1{
    &__image1{
        position: absolute;
        max-width: 504px;
        top: -39px;
        left: 43px;
    }
    &__image2 {
        position: absolute;
        max-width: 555px;
        top: -17px;
        right: 13px;
    }
    &__mid{
        max-width: 774px;
        margin: 0 auto;
        box-sizing: border-box;
        padding: 0 0 10px;
        h2{
           font-size: 70px;
           color: #FFFFFF;
        }
        p{
            font-family: $p-font;
            font-weight: 400;
            font-size: 18px;
            color: #FFFFFF;
            line-height: 178%;
        }
    }
}