#page-bottom{
    padding: 80px 0 35px;
    background: url(../images/common/pb-bg.jpg)no-repeat center top;
    background-size: cover;
    .row{
        max-width: 1418px;
    }
    h2{
        font-size: 80px;
        color: $black;
        margin: 0 0 95px;
    }
    .license{
        font-family: $font1;
        font-weight: 700;
        font-size: 28px;
        color: $black;
    }
}
.info-panel{
    width: (100% / 3) - 0.5%;
    max-width: 444px;
    position: relative;
    background: #FFFFFF;
    box-shadow: 10px 10px 40px -20px #000000;
    box-sizing: border-box;
    padding: 60px 10px 30px;
    h5{
        margin: 0 0 10px;
    }
    span{
        display: block
    }
    a{
        font-family: $font1;
        font-weight: 700;
        font-size: 20px;
        &.info-email{
            text-transform: uppercase;
            &::before{
                content:'';
                background: url('../images/common/sprites.png') no-repeat -62px -277px;
                width: 51px;
                height: 51px;
                position: absolute;
                top: -15%;
                left: 50%;
                transform: translateX(-50%);
            }            
        }
        &.info-phone {
            font-size: 38px;
            &::before{
                content:'';
                background: url('../images/common/sprites.png') no-repeat -131px -277px;;
                width: 51px;
                height: 51px;
                position: absolute;
                top: -15%;
                left: 50%;
                transform: translateX(-50%);
            }            
        }
        &.info-address{
            &::before{
                content:'';
                background: url('../images/common/sprites.png') no-repeat -202px -278px;
                width: 51px;
                height: 51px;
                position: absolute;
                top: -15%;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}