#contact {
    padding: 94px 0 0;
    background: url(../images/common/contact-bg.jpg)no-repeat center top;
    background-size: cover;
    .row {
        max-width: 1440px;
        width: 95%;
    }
}

.contact {
    &__left {
        box-sizing: border-box;
        max-width: 695px;
    }
    &__right {
        box-sizing: border-box;
        max-width: 668px;
        padding: 0 10px;
        text-align: left;
        h2 {
            color: #FFFFFF;
        }
        p {
            font-family: 'Montserrat';
            color: #FFFFFF;
            &.first {
                font-weight: 700;
                font-size: 27px;
                line-height: 141%;
            }
            &.second {
                font-weight: 500;
                font-size: 20px;
                line-height: 178%;
            }
            &.third {
                font-weight: 400;
                font-size: 18px;
                line-height: 178%;
            }
        }
    }
    &__links {
        .btn {
            margin: 0 auto 0 0;
        }
        .bbb {
            max-width: 264px;
            width: 100%
        }
    }
}

.form-box {
    position: relative;
    box-sizing: border-box;
    border: 4px solid $secondary-color;
    background: $primary-color;
    box-shadow: 25px 25px 40px -18px #000000;
    padding: 70px 95px 97px;
    z-index: 1;
    h2 {
        color: #FFFFFF;
    }
    p {
        margin: 30px auto;
        max-width: 445px;
        font-family: $font1;
        font-weight: 400;
        font-size: 14px;
        line-height: 143%;
        color: #FFFFFF;
    }
    input[type="text"],
    textarea {
        padding: 10px 20px;
        border: 0;
        border-radius: 0;
        font-family: $font1;
        font-weight: 400;
        font-size: 18px;
        color: $black;
        &::placeholder {
            font-family: $font1;
            font-weight: 400;
            font-size: 18px;
            color: $black;
        }
    }
    textarea {
        height: 200px;
        resize: none;
        margin: 0 auto;
    }
    .btn {
        max-width: 100%;
        width: 100%;
        margin: 0;
    }
}

.form-bottom {
    padding: 10px 0;
    background: #FFFFFF;
}