#retail {
    padding: 80px 0;
    border-top: 7px solid $primary-color;
    border-bottom: 7px solid $primary-color;
    .row {
        max-width: 1630px;
    }
}

.retail {
    &__left {
        max-width: 587px;
        position: relative;
        padding: 0 0 0 186px;
        box-sizing: border-box;
        text-align: left;
        &::before {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            background: url('../images/common/sprites.png') no-repeat -274px -96px;
            width: 174px;
            height: 196px;
        }
        h2 {
            font-size: 69px;
            color: $primary-color;
        }
        p {
            font-family: 'Montserrat';
            font-weight: 700;
            font-size: 25px;
            color: $secondary-color;
            letter-spacing: 0.2em;
            line-height: 120%;
            margin: 10px 0 0;
        }
    }
    &__box {
        box-sizing: border-box;
        border: 3px solid $secondary-color;
        padding: 125px 10px 30px;
        max-width: 303px;
        width: 33%;
        &.repair {
            position: relative;
            &::before {
                content: '';
                position: absolute;
                top: 27px;
                left: 50%;
                transform: translateX(-50%);
                background: url('../images/common/sprites.png') no-repeat -94px -2px;
                width: 83px;
                height: 82px;
            }
        }
        &.rebuild {
            position: relative;
            &::before {
                content: '';
                position: absolute;
                top: 27px;
                left: 50%;
                transform: translateX(-50%);
                background: url('../images/common/sprites.png') no-repeat -197px -2px;
                width: 89px;
                height: 87px;
            }
        }
        &.maintain {
            position: relative;
            &::before {
                content: '';
                position: absolute;
                top: 27px;
                left: 50%;
                transform: translateX(-50%);
                background: url('../images/common/sprites.png') no-repeat -308px -1px;
                width: 80px;
                height: 92px;
            }
        }
        p {
            margin: 0;
            font-family: 'Montserrat';
            font-weight: 700;
            font-size: 28px;
            color: $black;
            letter-spacing: 0.3em;
            line-height: 100%;
            position: relative;
            padding: 20px 0 0;
            &::before {
                content: '';
                width: 28px;
                height: 3px;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%);
                background: $secondary-color;
            }
        }
    }
}