#recent {
    overflow-x: hidden;
    .row {
        max-width: 1742px;
        width: 95%;
        padding: 55px 0;
    }
}

.recent {
    &__img {
        max-width: 301px;
        height: auto;
    }
    &__button {
        padding: 0 0 0 84px;
        box-sizing: border-box;
        max-width: 1045px;
        position: relative;
        a {
            width: 100%;
            display: inline-block;
            border: 6px solid $primary-color;
            box-sizing: border-box;
            padding: 20px;
            span {
                width: 100%;
                display: inline-block;
                background: $secondary-color;
                box-sizing: border-box;
                padding: 40px 10px;
                font-family: $font1;
                font-weight: 600;
                font-size: 44px;
                color: #FFFFFF;
                line-height: 100%;
                transition: all 0.5s ease;
                &:hover {
                    background: #555555;
                }
            }
        }
        &::before {
            content: '';
            position: absolute;
            top: -5px;
            left: 0;
            background: url('../images/common/sprites.png') no-repeat -274px -96px;
            width: 174px;
            height: 196px;
        }
    }
}