#solutions{
    background: url(../images/common/solutions.jpg)no-repeat center top;
    background-size: cover;
    padding: 100px 0 90px;
    h2{
        max-width: 1440px;
        width: 95%;
        margin: 0 auto 75px;
        text-align: left;
        position: relative;
        color: $primary-color;
        &::before{
           content: '';
           position: absolute;
           top: 65%;
           transform: translateY(-35%);
           right: 0;
           height: 3px;
           width: ( 922px / 1440px ) * 100%;
           background: $secondary-color;
        }
    }
    .row{
        max-width: 1440px;
    }
}
.solutions{
    &__left {
        max-width: 960px;
        ul{
            list-style: none;
            margin: 0;
            padding: 0;
            columns: 2;
            li{
                padding: 0 0 0 105px;
                margin: 0 0 25px;
                font-family: $font1;
                font-weight: 700;
                font-size: 28px;
                line-height: 280%;
                letter-spacing: 0.2em;
                text-align: left;
                color: #FFFFFF;
                position: relative;
                &:nth-of-type(1) {
                    &::before{
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        background: url('../images/common/sprites.png') no-repeat 0 -94px;
                        width: 78px;
                        height: 78px;
                    }
                }
                &:nth-of-type(2) {
                     &::before {
                         content: '';
                         position: absolute;
                         top: 0;
                         left: 0;
                         background: url('../images/common/sprites.png') no-repeat 0 -187px;
                         width: 78px;
                         height: 78px;
                     }
                }
                &:nth-of-type(3) {
                     &::before {
                         content: '';
                         position: absolute;
                         top: 0;
                         left: 0;
                         background: url('../images/common/sprites.png') no-repeat -92px -94px;
                         width: 78px;
                         height: 78px;
                     }
                }
                &:nth-of-type(4) {
                     &::before {
                         content: '';
                         position: absolute;
                         top: 0;
                         left: 0;
                         background: url('../images/common/sprites.png') no-repeat -92px -188px;
                         width: 78px;
                         height: 78px;
                     }
                }
                &:nth-of-type(5) {
                     &::before {
                         content: '';
                         position: absolute;
                         top: 0;
                         left: 0;
                         background: url('../images/common/sprites.png') no-repeat -178px -95px;
                         width: 78px;
                         height: 78px;
                     }
                }
                &:nth-of-type(6) {
                     &::before {
                         content: '';
                         position: absolute;
                         top: 0;
                         left: 0;
                         background: url('../images/common/sprites.png') no-repeat -178px -188px;
                         width: 78px;
                         height: 78px;
                     }
                }
                &:nth-of-type(7) {
                     &::before {
                         content: '';
                         position: absolute;
                         top: 0;
                         left: 0;
                         background: url('../images/common/sprites.png') no-repeat 0 0;
                         width: 78px;
                         height: 78px;
                     }
                }
            }
        }
    }
    &__right {
        max-width: 445px;
        text-align: left;
        p{
            font-family: $p-font;
            font-weight: 400;
            font-size: 18px;
            color: #FFFFFF;
            line-height: 178%;
        }
    }
}