/*inner pages*/

.inner #content {
  min-height: 400px;
  padding: 80px 0;
}
.inner #content h1{
  @include font($h1-font,400,100px,normal,normal,normal,$black);
}

.inner #page-bottom{
  border-top: 4px solid $primary-color;
}