.suspension-contain { max-height: 980px; overflow: hidden; position: relative; z-index: 999999; }

html.suspended { background: rgba(0, 0, 0, 0.6); }

body { max-width: 100%; min-width: 1200px; margin: 0 auto; text-align: center; font-family: "Montserrat"; }

a { color: inherit; text-decoration: none; }

a:hover { text-decoration: none; color: inherit; }

h1, h2, h3, h4, h5 { padding: 0; margin: 0; }

.row { max-width: 1200px; margin: 0 auto; width: 95%; }

/*floats*/
.fl { float: left; }

.fr { float: right; }

.columns-between-top { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }

.columns-between-center { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.columns-between-bottom { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; }

.columns-between-stretch { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; }

.columns-around-top { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; -ms-flex-pack: distribute; justify-content: space-around; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }

.columns-around-center { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; -ms-flex-pack: distribute; justify-content: space-around; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.columns-around-bottom { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; -ms-flex-pack: distribute; justify-content: space-around; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; }

.columns-around-stretch { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; }

/*grids*/
.col-1 { width: 8.33%; }

.col-2 { width: 16.66%; }

.col-3 { width: 25%; }

.col-4 { width: 33.33%; }

.col-5 { width: 41.66%; }

.col-6 { width: 50%; }

.col-7 { width: 58.33%; }

.col-8 { width: 66.66%; }

.col-9 { width: 75%; }

.col-10 { width: 83.33%; }

.col-11 { width: 91.16%; }

.col-12 { width: 100%; }

/*typography*/
.text-primary { color: #B11414; }

.text-bold { font-weight: 700; }

.text-uppercase { text-transform: uppercase; }

.text-center { text-align: center !important; }

.text-left { text-align: left; }

/*button*/
.btn { font-family: "Montserrat"; font-weight: 600; font-size: 18px; font-style: normal; letter-spacing: normal; line-height: normal; color: #FFFFFF; text-align: center; position: relative; display: inline-block; overflow: hidden; width: 100%; max-width: 177px; padding: 8px 10px; margin: 0 auto; text-transform: uppercase; border: 1px solid transparent; background: #6497B1; -webkit-box-sizing: border-box; box-sizing: border-box; }

.btn span.text { position: relative; z-index: 2; }

.btn span.background { position: absolute; display: block; width: 0; height: 0; border-radius: 50%; background-color: #2a3239; -webkit-transition: width 0.4s ease-in-out, height 0.4s ease-in-out; -o-transition: width 0.4s ease-in-out, height 0.4s ease-in-out; transition: width 0.4s ease-in-out, height 0.4s ease-in-out; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); z-index: 1; }

.btn:hover { color: #d1d4d7; }

.btn:hover span.background { width: 225%; height: 562.5px; }

.btn:active { background-color: #46535f; }

/*clearings*/
.clear { clear: both; }

.clearfix { display: block; }

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; font-size: 0; }

/*cookie*/
.cc-animate.cc-revoke.cc-bottom { font-size: 14px; padding: 5px 10px; position: fixed; display: block !important; -webkit-transform: none !important; -ms-transform: none !important; transform: none !important; bottom: 0 !important; left: 20px !important; }

/*call to action*/
.destroy-on-load, .cta { display: none; }

/*contact form messages*/
form .messages p { display: none; font-family: Arial !important; font-weight: 400 !important; letter-spacing: 0 !important; font-size: 16px !important; }

form .loading { display: none; }

form .alert { padding: 15px; margin-bottom: 20px; border: 1px solid transparent; border-radius: 4px; }

form .alert-success { color: #3c763d; background-color: #dff0d8; border-color: #d6e9c6; }

form .alert-danger { color: #a94442; background-color: #f2dede; border-color: #ebccd1; }

form [type="submit"] { margin: 20px auto; }

/*contact form*/
.ctc-form { margin: 0 auto; text-align: center; }

.ctc-form input[type="text"] { font-family: Arial; font-size: 16px; color: #000; height: 45px; display: block; width: 100%; border: 1px solid #ddd; border-radius: 3px; padding: 5px 10px; -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0 auto 8px; }

.ctc-form textarea { font-family: Arial; font-size: 16px; color: #000; height: 45px; display: block; width: 100%; border: 1px solid #ddd; border-radius: 3px; padding: 5px 10px; -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0 auto 8px; height: 120px; padding-top: 10px; }

.ctc-form button { display: block; }

.ctc-form .recap { display: inline-block; }

.ctc-form .g-recaptcha div { margin: 0 auto 10px; }

.ctc-form .ctc-hide { display: none; }

/*gallery*/
#content .gallery-container { text-align: center; }

#content .gallery { list-style-type: none; margin: 0; padding: 0; }

#content .gallery li { display: inline-block; }

#content .thumbnail { background-color: #fff; border: 1px solid #ddd; border-radius: 4px; display: block; line-height: .42857; margin-bottom: 20px; padding: 4px; -webkit-transition: border 0.5s ease-in-out 0s; -o-transition: border 0.5s ease-in-out 0s; transition: border 0.5s ease-in-out 0s; }

#content .thumbnail:hover { -webkit-transform: scale(1.02); -ms-transform: scale(1.02); transform: scale(1.02); }

#content .page_navigation { display: inline-block; }

#content .page_link, #content .previous_link, #content .next_link, #content .first_link, #content .last_link, #content .ellipse { background-color: #fff; border: 1px solid #ddd; color: #0275d8; display: inline-block; line-height: 1.25; margin-left: -1px; padding: 0.5rem 0.75rem; position: relative; }

#content .page_navigation > a:hover { background-color: #eceeef; border-color: #ddd; color: #014c8c; text-decoration: none; }

.page_navigation > a.active_page { background-color: #eceeef; border-color: #ddd; color: #014c8c; text-decoration: none; }

h1 { font-family: "Palanquin Dark"; font-weight: 400; font-size: 83px; font-style: normal; letter-spacing: -0.03em; line-height: 100%; color: #111111; }

h2 { font-family: "Palanquin Dark"; font-weight: 400; font-size: 83px; font-style: normal; letter-spacing: -0.03em; line-height: 100%; color: #0C4698; }

h3 { font-family: "Palanquin Dark"; font-weight: 400; font-size: 55px; font-style: normal; letter-spacing: -0.03em; line-height: 100%; color: #0C4698; }

h4 { font-family: "Montserrat"; font-weight: 700; font-size: 30px; font-style: normal; letter-spacing: 0.2em; line-height: 100%; color: #111111; }

h5 { font-family: "Montserrat"; font-weight: 400; font-size: 18px; font-style: normal; letter-spacing: normal; line-height: 120%; color: #111111; }

/*header*/
#header { padding: 20px 0 35px; }

#header .row { max-width: 1440px; position: relative; }

#header nav a#pull { display: none; }

#header nav ul { margin: 0; padding: 0; list-style: none; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; -ms-flex-pack: distribute; justify-content: space-around; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#header nav ul li { width: 25%; padding: 22px 0; }

#header nav ul li a { border-right: 1px solid rgba(255, 255, 255, 0.23); width: 100%; display: inline-block; -webkit-box-sizing: border-box; box-sizing: border-box; font-family: "Montserrat"; font-weight: 600; font-size: 15px; color: #FFFFFF; line-height: 120%; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }

#header nav ul li:last-of-type a { border-right: 0; }

#header nav ul li.active-menu a, #header nav ul li a:hover { text-shadow: 0 0 10px #333333; }

.social-media { max-width: 190px; margin: 0 auto; }

.social-media a { font-family: 'Socialico'; font-weight: 400; font-size: 34px; color: #6497B1; }

.header-bottom { position: absolute; top: 140%; left: 0; right: 0; -webkit-box-sizing: border-box; box-sizing: border-box; background: #0C4698; border: 4px solid #6497B1; -webkit-box-shadow: 25px 25px 40px -15px #000000; box-shadow: 25px 25px 40px -15px #000000; z-index: 1; }

.header-bottom__left { -webkit-box-sizing: border-box; box-sizing: border-box; max-width: 1000px; }

.header-bottom__right { -webkit-box-sizing: border-box; box-sizing: border-box; max-width: 380px; }

.header-bottom__right .phone { text-align: center; padding: 0 0 0 52px; position: relative; font-family: 'Montserrat'; font-weight: 600; font-size: 35px; color: #FFFFFF; }

.header-bottom__right .phone::before { content: ""; background: url("../images/common/sprites.png") no-repeat -2px -285px; width: 33px; height: 33px; position: absolute; left: 0; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }

/*banner*/
#banner { min-height: 200px; position: relative; -webkit-box-sizing: border-box; box-sizing: border-box; border-top: 7px solid #0C4698; border-bottom: 7px solid #0C4698; }

#banner .slider { width: 100%; height: 100%; }

#banner .slider img { width: 100%; -o-object-fit: cover; object-fit: cover; margin: 0 0 -5px; }

#banner .row { width: 95%; position: absolute; top: 0; right: 0; left: 0; bottom: 0; }

#banner .banner-logo { position: absolute; left: 50%; top: 51%; -webkit-transform: translate(-50%, -49%); -ms-transform: translate(-50%, -49%); transform: translate(-50%, -49%); max-width: 1320px; width: 100%; }

.banner-bottom { max-width: 1440px; width: 95%; margin: 0 auto; padding: 30px 50px; -webkit-box-sizing: border-box; box-sizing: border-box; background: #0C4698; border: 4px solid #6497B1; -webkit-box-shadow: 25px 25px 40px -15px #000000; box-shadow: 25px 25px 40px -15px #000000; position: absolute; bottom: -90px; left: 0; right: 0; }

.banner-bottom__left { text-align: left; }

.banner-bottom__left h3 { color: #FFFFFF; }

.banner-bottom__left p { font-family: "Montserrat"; font-weight: 400; font-size: 22px; color: #FFFFFF; line-height: 145%; max-width: 907px; margin: 1em 0 0; }

.banner-bottom__right { max-width: 181px; }

.banner-bottom__right .btn { max-width: 100%; width: 100%; font-family: 'Palanquin Dark'; font-weight: 400; font-size: 30px; color: #FFFFFF; border: 2px solid #FFFFFF; padding: 2px 0; text-transform: none; }

/*-----------------------------------------------------------------
-----------------------------Section 1-----------------------------
-----------------------------------------------------------------*/
#welcome { padding: 185px 0 60px; background: url(../images/common/welcome-bg.jpg) no-repeat center top; }

.wlc-box { -webkit-box-sizing: border-box; box-sizing: border-box; max-width: 1102px; padding: 75px 10px 60px; background: #0C4698; border: 3px solid #6497B1; -webkit-box-shadow: 25px 25px 40px -18px #000000; box-shadow: 25px 25px 40px -18px #000000; }

.wlc-box h1 { color: #FFFFFF; padding: 0 0 30px; position: relative; }

.wlc-box h1::after { content: ''; position: absolute; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); bottom: 0; background: #FFFFFF; width: 45px; height: 3px; }

.wlc-box p { font-family: 'Montserrat'; font-weight: 400; font-size: 18px; color: #FFFFFF; line-height: 178%; margin: 1em auto; max-width: 916px; }

/*-----------------------------------------------------------------
-----------------------------Section 2-----------------------------
-----------------------------------------------------------------*/
#retail { padding: 80px 0; border-top: 7px solid #0C4698; border-bottom: 7px solid #0C4698; }

#retail .row { max-width: 1630px; }

.retail__left { max-width: 587px; position: relative; padding: 0 0 0 186px; -webkit-box-sizing: border-box; box-sizing: border-box; text-align: left; }

.retail__left::before { content: ''; position: absolute; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); left: 0; background: url("../images/common/sprites.png") no-repeat -274px -96px; width: 174px; height: 196px; }

.retail__left h2 { font-size: 69px; color: #0C4698; }

.retail__left p { font-family: 'Montserrat'; font-weight: 700; font-size: 25px; color: #6497B1; letter-spacing: 0.2em; line-height: 120%; margin: 10px 0 0; }

.retail__box { -webkit-box-sizing: border-box; box-sizing: border-box; border: 3px solid #6497B1; padding: 125px 10px 30px; max-width: 303px; width: 33%; }

.retail__box.repair { position: relative; }

.retail__box.repair::before { content: ''; position: absolute; top: 27px; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); background: url("../images/common/sprites.png") no-repeat -94px -2px; width: 83px; height: 82px; }

.retail__box.rebuild { position: relative; }

.retail__box.rebuild::before { content: ''; position: absolute; top: 27px; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); background: url("../images/common/sprites.png") no-repeat -197px -2px; width: 89px; height: 87px; }

.retail__box.maintain { position: relative; }

.retail__box.maintain::before { content: ''; position: absolute; top: 27px; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); background: url("../images/common/sprites.png") no-repeat -308px -1px; width: 80px; height: 92px; }

.retail__box p { margin: 0; font-family: 'Montserrat'; font-weight: 700; font-size: 28px; color: #111111; letter-spacing: 0.3em; line-height: 100%; position: relative; padding: 20px 0 0; }

.retail__box p::before { content: ''; width: 28px; height: 3px; position: absolute; top: 0; left: 50%; -webkit-transform: translate(-50%); -ms-transform: translate(-50%); transform: translate(-50%); background: #6497B1; }

/*-----------------------------------------------------------------
-----------------------------Section 3-----------------------------
-----------------------------------------------------------------*/
#solutions { background: url(../images/common/solutions.jpg) no-repeat center top; background-size: cover; padding: 100px 0 90px; }

#solutions h2 { max-width: 1440px; width: 95%; margin: 0 auto 75px; text-align: left; position: relative; color: #0C4698; }

#solutions h2::before { content: ''; position: absolute; top: 65%; -webkit-transform: translateY(-35%); -ms-transform: translateY(-35%); transform: translateY(-35%); right: 0; height: 3px; width: 64.02778%; background: #6497B1; }

#solutions .row { max-width: 1440px; }

.solutions__left { max-width: 960px; }

.solutions__left ul { list-style: none; margin: 0; padding: 0; -webkit-columns: 2; columns: 2; }

.solutions__left ul li { padding: 0 0 0 105px; margin: 0 0 25px; font-family: "Montserrat"; font-weight: 700; font-size: 28px; line-height: 280%; letter-spacing: 0.2em; text-align: left; color: #FFFFFF; position: relative; }

.solutions__left ul li:nth-of-type(1)::before { content: ''; position: absolute; top: 0; left: 0; background: url("../images/common/sprites.png") no-repeat 0 -94px; width: 78px; height: 78px; }

.solutions__left ul li:nth-of-type(2)::before { content: ''; position: absolute; top: 0; left: 0; background: url("../images/common/sprites.png") no-repeat 0 -187px; width: 78px; height: 78px; }

.solutions__left ul li:nth-of-type(3)::before { content: ''; position: absolute; top: 0; left: 0; background: url("../images/common/sprites.png") no-repeat -92px -94px; width: 78px; height: 78px; }

.solutions__left ul li:nth-of-type(4)::before { content: ''; position: absolute; top: 0; left: 0; background: url("../images/common/sprites.png") no-repeat -92px -188px; width: 78px; height: 78px; }

.solutions__left ul li:nth-of-type(5)::before { content: ''; position: absolute; top: 0; left: 0; background: url("../images/common/sprites.png") no-repeat -178px -95px; width: 78px; height: 78px; }

.solutions__left ul li:nth-of-type(6)::before { content: ''; position: absolute; top: 0; left: 0; background: url("../images/common/sprites.png") no-repeat -178px -188px; width: 78px; height: 78px; }

.solutions__left ul li:nth-of-type(7)::before { content: ''; position: absolute; top: 0; left: 0; background: url("../images/common/sprites.png") no-repeat 0 0; width: 78px; height: 78px; }

.solutions__right { max-width: 445px; text-align: left; }

.solutions__right p { font-family: "Montserrat"; font-weight: 400; font-size: 18px; color: #FFFFFF; line-height: 178%; }

/*-----------------------------------------------------------------
-----------------------------Section 4------------------------------
-----------------------------------------------------------------*/
#recent { overflow-x: hidden; }

#recent .row { max-width: 1742px; width: 95%; padding: 55px 0; }

.recent__img { max-width: 301px; height: auto; }

.recent__button { padding: 0 0 0 84px; -webkit-box-sizing: border-box; box-sizing: border-box; max-width: 1045px; position: relative; }

.recent__button a { width: 100%; display: inline-block; border: 6px solid #0C4698; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 20px; }

.recent__button a span { width: 100%; display: inline-block; background: #6497B1; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 40px 10px; font-family: "Montserrat"; font-weight: 600; font-size: 44px; color: #FFFFFF; line-height: 100%; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }

.recent__button a span:hover { background: #555555; }

.recent__button::before { content: ''; position: absolute; top: -5px; left: 0; background: url("../images/common/sprites.png") no-repeat -274px -96px; width: 174px; height: 196px; }

/*-----------------------------------------------------------------
-----------------------------Section 4------------------------------
-----------------------------------------------------------------*/
#quote1 { background: #0C4698; padding: 75px 0 100px; position: relative; }

#quote1 .row { max-width: 1440px; width: 95%; }

.quote1__image1 { position: absolute; max-width: 504px; top: -39px; left: 43px; }

.quote1__image2 { position: absolute; max-width: 555px; top: -17px; right: 13px; }

.quote1__mid { max-width: 774px; margin: 0 auto; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0 0 10px; }

.quote1__mid h2 { font-size: 70px; color: #FFFFFF; }

.quote1__mid p { font-family: "Montserrat"; font-weight: 400; font-size: 18px; color: #FFFFFF; line-height: 178%; }

/*-----------------------------------------------------------------
-----------------------------Section 4------------------------------
-----------------------------------------------------------------*/
#contact { padding: 94px 0 0; background: url(../images/common/contact-bg.jpg) no-repeat center top; background-size: cover; }

#contact .row { max-width: 1440px; width: 95%; }

.contact__left { -webkit-box-sizing: border-box; box-sizing: border-box; max-width: 695px; }

.contact__right { -webkit-box-sizing: border-box; box-sizing: border-box; max-width: 668px; padding: 0 10px; text-align: left; }

.contact__right h2 { color: #FFFFFF; }

.contact__right p { font-family: 'Montserrat'; color: #FFFFFF; }

.contact__right p.first { font-weight: 700; font-size: 27px; line-height: 141%; }

.contact__right p.second { font-weight: 500; font-size: 20px; line-height: 178%; }

.contact__right p.third { font-weight: 400; font-size: 18px; line-height: 178%; }

.contact__links .btn { margin: 0 auto 0 0; }

.contact__links .bbb { max-width: 264px; width: 100%; }

.form-box { position: relative; -webkit-box-sizing: border-box; box-sizing: border-box; border: 4px solid #6497B1; background: #0C4698; -webkit-box-shadow: 25px 25px 40px -18px #000000; box-shadow: 25px 25px 40px -18px #000000; padding: 70px 95px 97px; z-index: 1; }

.form-box h2 { color: #FFFFFF; }

.form-box p { margin: 30px auto; max-width: 445px; font-family: "Montserrat"; font-weight: 400; font-size: 14px; line-height: 143%; color: #FFFFFF; }

.form-box input[type="text"], .form-box textarea { padding: 10px 20px; border: 0; border-radius: 0; font-family: "Montserrat"; font-weight: 400; font-size: 18px; color: #111111; }

.form-box input[type="text"]::-webkit-input-placeholder, .form-box textarea::-webkit-input-placeholder { font-family: "Montserrat"; font-weight: 400; font-size: 18px; color: #111111; }

.form-box input[type="text"]:-ms-input-placeholder, .form-box textarea:-ms-input-placeholder { font-family: "Montserrat"; font-weight: 400; font-size: 18px; color: #111111; }

.form-box input[type="text"]::-ms-input-placeholder, .form-box textarea::-ms-input-placeholder { font-family: "Montserrat"; font-weight: 400; font-size: 18px; color: #111111; }

.form-box input[type="text"]::placeholder, .form-box textarea::placeholder { font-family: "Montserrat"; font-weight: 400; font-size: 18px; color: #111111; }

.form-box textarea { height: 200px; resize: none; margin: 0 auto; }

.form-box .btn { max-width: 100%; width: 100%; margin: 0; }

.form-bottom { padding: 10px 0; background: #FFFFFF; }

/*-----------------------------------------------------------------
-----------------------------Section 4------------------------------
-----------------------------------------------------------------*/
#contact-bottom { margin: -100px 0 0; background: #FFFFFF; padding: 50px 0; border-top: 7px solid #0C4698; border-bottom: 7px solid #0C4698; }

#contact-bottom .row { max-width: 1540px; width: 95%; }

.cb-container { max-width: 671px; margin: 0 0 0 auto; }

.cb-container h4 { font-weight: 800; font-size: 44px; letter-spacing: normal; color: #0C4698; }

.cb-container p { margin: 10px 0 0; font-size: 25px; color: #6497B1; }

/*-----------------------------------------------------------------
-----------------------------Section 4------------------------------
-----------------------------------------------------------------*/
#page-bottom { padding: 80px 0 35px; background: url(../images/common/pb-bg.jpg) no-repeat center top; background-size: cover; }

#page-bottom .row { max-width: 1418px; }

#page-bottom h2 { font-size: 80px; color: #111111; margin: 0 0 95px; }

#page-bottom .license { font-family: "Montserrat"; font-weight: 700; font-size: 28px; color: #111111; }

.info-panel { width: 32.83333%; max-width: 444px; position: relative; background: #FFFFFF; -webkit-box-shadow: 10px 10px 40px -20px #000000; box-shadow: 10px 10px 40px -20px #000000; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 60px 10px 30px; }

.info-panel h5 { margin: 0 0 10px; }

.info-panel span { display: block; }

.info-panel a { font-family: "Montserrat"; font-weight: 700; font-size: 20px; }

.info-panel a.info-email { text-transform: uppercase; }

.info-panel a.info-email::before { content: ''; background: url("../images/common/sprites.png") no-repeat -62px -277px; width: 51px; height: 51px; position: absolute; top: -15%; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }

.info-panel a.info-phone { font-size: 38px; }

.info-panel a.info-phone::before { content: ''; background: url("../images/common/sprites.png") no-repeat -131px -277px; width: 51px; height: 51px; position: absolute; top: -15%; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }

.info-panel a.info-address::before { content: ''; background: url("../images/common/sprites.png") no-repeat -202px -278px; width: 51px; height: 51px; position: absolute; top: -15%; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }

/*footer*/
#footer { background: #0C4698; padding: 40px 0; }

#footer .silver img { display: inline-block; vertical-align: middle; max-width: 50px; }

#footer .copy, #footer .silver { font-family: "Montserrat"; font-weight: 600; font-size: 15px; color: #FFFFFF; text-transform: uppercase; }

.footer-social-media { max-width: 297px; margin: 0 auto; }

.footer-social-media a { font-family: 'Socialico'; font-size: 46px; color: #FFFFFF; }

.footer-nav { list-style: none; margin: 0 auto; padding: 0; max-width: 683px; }

.footer-nav li a { display: inline-block; padding: 30px 0 0; font-family: 'Montserrat'; font-weight: 600; font-size: 18px; color: #FFFFFF; }

/*inner pages*/
.inner #content { min-height: 400px; padding: 80px 0; }

.inner #content h1 { font-family: "Palanquin Dark"; font-weight: 400; font-size: 100px; font-style: normal; letter-spacing: normal; line-height: normal; color: #111111; }

.inner #page-bottom { border-top: 4px solid #0C4698; }

/*privacy policy*/
.inPrivacyBox { max-width: 850px; margin: 0 auto; }

.inPrivacyBox p { text-align: justify !important; }

/** Responsive
-------------------------------------------------------*/
@media screen and (max-width: 1280px) { .header-bottom__right .phone { font-size: 25px; } }

@media screen and (max-width: 1024px) { body { min-width: 320px; } }

@media screen and (max-width: 800px) { [class*="col-"] { width: 48% !important; }
  h1, h2 { font-size: 40px; }
  #header { padding: 50px 0 0; }
  #header .row { width: 100%; }
  #header nav { display: block; height: auto; position: fixed; top: 0; left: 0; right: 0; z-index: 99999; }
  #header nav ul { width: 100%; display: none; height: auto; border-bottom: 5px solid #000; padding: 0 15px; -webkit-box-sizing: border-box; box-sizing: border-box; background: rgba(12, 70, 150, 0.8); }
  #header nav ul li { width: 100%; position: relative; padding: 0; }
  #header nav ul li a { display: block; float: none; padding: 10px 0; border: 0; }
  #header nav a { text-align: left; width: 100%; }
  #header nav a strong { position: absolute; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); left: 15px; }
  #header nav a#pull { display: block; color: #fff; background-color: #0C4698; height: 30px; padding: 10px 0; width: 100%; position: relative; }
  #header nav a#pull img { max-width: 120px; width: 70%; border: 2px solid #FFFFFF; margin: 0 0 0 20px; }
  #header nav a#pull:after { content: ""; background: url("../images/nav-icon.png") no-repeat; width: 20px; height: 20px; display: inline-block; position: absolute; right: 15px; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }
  .cta { background: #0C4698 url("../images/common/phonecall.png") no-repeat center center; border-bottom-left-radius: 40px; border-top: 2px solid #6497B1; border-top-left-radius: 40px; bottom: 1%; display: block; height: 80px; position: fixed; right: 0; text-decoration: none; text-indent: -9999em; width: 100px; z-index: 999; } }

@media screen and (max-width: 600px) { [class*="col-"] { width: 100% !important; }
  h1, h2 { font-size: 30px; } }
